
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    border:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{    
    background-image:url("../image/backgroundcode.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}
:root{
    --cor-primaria: #da0000
}
/*Barra de navegação*/
nav{
    background-color: rgb(29, 29, 29);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 8px 0px;
    align-items: center;
    box-shadow: 0px 0px 7px 3px #0000007a;
    width: 100%;
}

nav img{
    height: 30px;
}

#tutorial{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    transition: ease-in 0.15s;
}

#tutorial:hover{
    background-color: var(--cor-primaria);
}

.posicao-nav{
    display: flex;
    align-items: center;
}

h1{
    font-size: 25px;
}

.pagina-conteudo{
    background-image:url("../image/backgroundcode.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.janela{
    min-width: 350px;
    min-height: 350px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 10px 3px #0000007a;
    background-color: rgb(19, 19, 19);
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.elementos-janela{
    height:100%;
   
}

.botao{
    background-color: var(--cor-primaria);
    color: rgb(255, 255, 255);   
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 15px;
    border: none;
    transition: ease-in 0.1s;
    cursor: pointer;
}

.botao:hover{
    background-color: rgb(255, 34, 34);
}

.tutorial-explicacao{
    background-color: black;
    height: 100vh;
}

.imgcard{
    width: 90px;
    height:90px;
    margin:5px;
    border-radius: 10px;
    cursor: pointer;
}


.pagina-jogo{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board{
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.alinhar-botao{
    display: flex;
    justify-content: center;
}

.container-jogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 2rem; 
}

#loading-overlay {
    position: fixed;
    inset: 0;                 /* top, right, bottom, left = 0 */
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 9999;
}

#loading-overlay.active {
    opacity: 1;
    pointer-events: all;
}

.modal-vitoria{
    display: none;
}

.conteudo-vitoria{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin-top: 90px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;
}

.slide.first{
    transition: transform 0.8s ease-in-out;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #Fff;
    padding: 5px;
    border-radius:10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #Fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#placar{
    text-align: center;
    font-weight: 600;
    padding: 20px 100px;
    background-color: rgb(106, 106, 106);
    border-radius:10px;
}